.wrappers {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 44px;
}
#back_pic {
    background: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
    width: 454px; 
    height: 618px;
    position: relative;
    
}
#img_phone {
    position: absolute;
    top: 99px;
    left: 151px;
    width: 240px;
    height: 427px;

}
section.login--sub {
    padding-top: 18px;
}

.sub--wrapper {
    width: 350px;
    height: 377.8px;
    margin: 0 auto;
    background: white;
    text-align: center;
    margin-top: 15px;
    border: 1px solid #dbdbdb;
}
.sub--wrapper form {
    margin-top: 22px;
}

.sub--box a div {
    margin-top: 12px;
}
.pw {
    padding-top: 9px;
}